.container {
    height: 100vh !important;
    background-color: #fbfbfb22 !important;
}

.card {
    border: none !important;
}

.form-control {
    border-bottom: 2px solid #eee !important;
    border: none !important;
    font-weight: 600 !important;
}

.form-control:focus {
    color: #495057 !important;
    background-color: #fff !important;
    border-color: #8bbafe !important;
    outline: 0 !important;
    box-shadow: none !important;
    border-radius: 0px !important;
    border-bottom: 2px solid blue !important;
}

.inputbox {
    position: relative !important;
    margin-bottom: 20px !important;
    width: 100% !important;
}

.inputbox span {
    position: absolute !important;
    top: 7px !important;
    left: 11px !important;
    transition: 0.5s !important;
}

.inputbox i {
    position: absolute !important;
    top: 13px !important;
    right: 8px !important;
    transition: 0.5s !important;
    color: #3F51B5 !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

.inputbox input:focus~span {
    transform: translateX(-0px) translateY(-15px) !important;
    font-size: 12px !important;
}

.inputbox input:valid~span {
    transform: translateX(-0px) translateY(-15px) !important;
    font-size: 12px !important;
}

.card-blue {
    background-color: #303030 !important;
    border-radius: 10px !important;
    color:white;
    text-align: center;
}

.hightlight {
    background-color: #751818 !important;
    padding: 10px !important;
    border-radius: 10px !important;
    margin-top: 15px !important;
    text-align: center;
    font-size: 14px !important;
}

.yellow {
    color: #fdcc49 !important;
}

.decoration {
    text-decoration: none !important;
    font-size: 14px !important;
}

.btn-success {
    color: #fff !important;
    background-color: #492bc4 !important;
    border-color: #492bc4 !important;
}

.btn-success:hover {
    color: #fff !important;
    background-color: #492bc4 !important;
    border-color: #492bc4 !important;
}

.decoration:hover {
    text-decoration: none !important;
    color: #fdcc49 !important;
}
