@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');



.profile-avatar {
    width: 10vw; /* Adjust the size as needed */
    height: 10vw; /* Adjust the size as needed */
    border-radius: 50%; /* Makes it circular */
    border: 0.1vw solid #b9a91a; /* Add a white border for a clean look */
    display: block; /* Center horizontally */
    margin: 0 auto; /* Center horizontally */
    
}

*{
    font-family: 'Uncial Antiqua', sans-serif  !important;
    
    
    
}