a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    color: #000; /* Alterado para preto */
}

a, a:hover {
    text-decoration: none !important;
}

.content {
    height: 60vh;
    margin-bottom: 0;
}

.footer-48201 {
    padding: 7rem 0;
    background-color: #8B0000; /* Vermelho vinho */
    color: #000; /* Alterado para preto */
}

.footer-48201 .footer-site-logo {
    font-size: 1.5rem;
    color: #000; /* Alterado para preto */
}

.footer-48201 .nav-links li {
    margin-bottom: 10px;
}

.footer-48201 .nav-links li a {
    color: #000; /* Alterado para preto */
}

.footer-48201 .nav-links li a:hover {
    color: #000; /* Alterado para preto */
}

.footer-48201 .btn.btn-tertiary {
    background-color: #8B0000; /* Vermelho vinho */
    color: #fff;
    border-radius: 30px;
    border: none;
    padding: 10px 20px;
}

.footer-48201 .social li {
    display: inline-block;
}

.footer-48201 .social li a {
    color: gray;
    padding: 7px;
}

.footer-48201 .social li a:hover {
    color: #fff;
}

.footer-48201 .copyright {
    border-top: 1px solid #404040;
}


