@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');

 
.navbar{
    margin-top: 0;
}
.img-responsive{
    width: 100%;
  
}

*{
    font-family: 'Uncial Antiqua', sans-serif  !important;
   
    
    
}

#prodDiv {
    
    margin-top: 1vw;
    gap:1vw;
    height: 52vw;
}
.jumbotron{
    margin-top:-1.5vw;
}


